/* Events.css */

.custom-video {
    background-color: #000;
  }
  
.custom-video::-webkit-media-controls-start-playback-button,
.custom-video::-webkit-media-controls-pause-button,
.custom-video::-webkit-media-controls-mute-button {
  display: block;
}

.custom-video::-webkit-media-controls-timeline,
.custom-video::-webkit-media-controls-fullscreen-button,
.custom-video::-webkit-media-controls-rewind-button,
.custom-video::-webkit-media-controls-fast-forward-button,
.custom-video::-webkit-media-controls-toggle-closed-captions-button,
.custom-video::-webkit-media-controls-toggle-cast-button,
.custom-video::-webkit-media-controls-toggle-pip-button,
.custom-video::-webkit-media-controls-current-time-display,
.custom-video::-webkit-media-controls-time-remaining-display {
  display: none;
}
