/* Events.css */

.custom-video {
    /* Aquí puedes agregar tus estilos personalizados para los controles del video */
    /* Por ejemplo, cambiar el color del fondo de los controles y el color del botón */
    background-color: #000;
  }
  

/* Ocultar todos los controles excepto play, pause y mute en el reproductor de video */
.custom-video::-webkit-media-controls-start-playback-button,
.custom-video::-webkit-media-controls-pause-button,
.custom-video::-webkit-media-controls-mute-button {
  display: block;
}

.custom-video::-webkit-media-controls-timeline,
.custom-video::-webkit-media-controls-fullscreen-button,
.custom-video::-webkit-media-controls-rewind-button,
.custom-video::-webkit-media-controls-fast-forward-button,
.custom-video::-webkit-media-controls-toggle-closed-captions-button,
.custom-video::-webkit-media-controls-toggle-cast-button,
.custom-video::-webkit-media-controls-toggle-pip-button,
.custom-video::-webkit-media-controls-current-time-display,
.custom-video::-webkit-media-controls-time-remaining-display {
  display: none;
}
